@import "~bootstrap/dist/css/bootstrap.min.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.card-hover:hover {
  -moz-transform: scale(1.01);
  -webkit-transform: scale(1.01);
  -o-transform: scale(1.01);
  -ms-transform: scale(1.01);
  -webkit-transform: scale(1.01);
  transform: scale(1.01);

  -webkit-transition: transform 0.65s ease-in-out;
  -moz-transition: transform 0.65s ease-in-out;
  -ms-transition: transform 0.65s ease-in-out;
}

.container {
  overflow-x: hidden;
}

#projects {
  scroll-padding: 1rem 0 0 0;
}
