
:root {
    --color-primary: #543ab7;
    --color-secondary: #00acc1;
    --header-height-raw: 10rem;

    --gradient-bg : linear-gradient(
        60deg,
        var(--color-primary) 20%,
        var(--color-secondary) 100%
      );

      --gradient-bg-darker : linear-gradient(
        60deg,
        var(--color-primary) 40%,
        var(--color-secondary) 120%
      );
  }
  